*.user
*build*
*bin*
*.bak
*.a
*.Debug
*.lib
*.log
*.opensdf
*.Release
*.sdf
*.sln
*.spec
*.suo
*.vcxproj
*.filters
*pre1
Debug/
docs/html/
docs/latex/
GeneratedFiles/
ipch/
/libs/
Makefile
Win32/
\.DS_Store
